<!DOCTYPE html>
<html>
    <head>
        <title>Add Employee</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/add_employee.css') }}">
    </head>
    <body>
        <div class="columns">
            <div class="column">

            </div>
            <div class="column">
                <div class="box">
                    <form action="/add-employee" method="POST">
                        <div class="content">
                            <h1>Add Employee: </h1>
                        </div>
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control">
                                <input class="input" type="text" name="first">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control">
                                <input class="input" type="text" name="last">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Salary</label>
                            <div class="control">
                                <input class="input" type="text" name="salary">
                            </div>
                        </div>
                        <div class="control">
                            <input class="button is-primary" type="submit" value="Submit"></button>
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="column">
                
            </div>
        </div>
        
    </body>
</html>